
body{
    background-color: #F0F8FF;
}

.h11{
 
}
.div6{
    display: flex;
    text-align: center;
    margin:30px 34%;
    align-items: center;
    gap: 7px;
}

    
hr{
    width: 1200px;
    height: 1px;
    background-color: black;
}
.inp1{
    margin:0 10%;
    width: 500px;
    height:430px;
    margin-top: 0px;
}
.inp2{
    margin:0 10%;
    width: 500px;
    height:430px;
    
   
}
.h22{
    margin-left: 150px;
    margin-top: 20px;
}
.div1{
    line-height: 1px;
    margin-top: 70px;
    display: flex;
    gap: 80px;
}

.div2{
    margin-top: 60px;
}
.div3{
    top: 216px;
    position: absolute;
    display: flex;
    margin-left: 150px;
    gap: 5px;
    margin-top: 19px;

   
}

.div3 a{
    /* padding-bottom: 20px; */
    /* border-top:1px solid ; */
    /* border-left: 1px solid; */
    /* border-right:1px solid ; */
    /* padding: 0px 5px 20px; */
    text-decoration: none;
   
}



.div8 i{
    background-color: #551A8B;
    color: aliceblue;
    width: 15px;
    font-size: 13px;
    text-align: center;
    margin-top: 2px;
    border-radius: 2px;
    
   
}

.div9 i {
    background-color: #551A8B;
    color: aliceblue;
    width: 15px;
    font-size: 13px;
    text-align: center;
    margin-top: 2px;
    border-radius: 2px;
    clip-path: circle();
}
button{
    cursor: pointer;
}